span,
div {
  border: 10px solid red;
  margin: 10px;
  padding: 10px;
  padding: 10px 20px 30px 40px;
  margin: 10px 20px;
}

/* Если два разных margin стоят рядом, то суммарное расстояние между ними равно большему margin */
.mar {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.test {
  display: inline;
}
