/* Составные селекторы */
/* Комбинация селекторов, образующие более конкретный селектор */
h1,
h2,
span {
  color: red;
}

/* Селектор-потомок (составной) */
/* p - потомок div */
div p {
  color: green;
}

div p span {
  color: blue;
}

/* Селектор прямого потомка (составной) */
/* span должен быть ПРЯМЫМ потомком тега li (без обертки) */
ul li > span {
  font-weight: bold;
}

/* Соседний селектор */
/* Только тот элемент, который следует сразу за указанным элементом */
/* Все элементы, которые идут после первого тега li (тот самый указанный) */
ul li + li {
  color: aqua;
}

/* Следующий элемент */
/* Стилизация у всех элементов после указанного */
br ~ p {
  font-size: 30px;
}

/* Селектор аттрибута */
a[target] {
  background-color: yellow;
}

a[target="_blank"] {
  background-color: blue;
}

/* Частичное */
/* ^ - искать в начале строки */
a[href^="http://123"]
{
  background-color: aqua;
}

/* $ - искать в конце строки */
a[href$=".jpg"] {
  background-color: teal;
}

/* * - искать в строке (в любом месте строки) */
a[href*="link"] {
  background-color: rebeccapurple;
}
