body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
table * {
  border: 1px solid black;
  max-width: 500px;
  /* collapse - объединяет смежные границы в одну */
  /* separate - отдельные границы */
  border-collapse: separate;
  /* Расстояние между границами (x,y) */
  /* border-spacing: 10px 50px; */

  /* Положение заголовка таблицы */
  caption-side: bottom;
  text-align: right;
  vertical-align: middle;

  cursor: crosshair;
}

.dis,
td {
  pointer-events: none;
}
